/* GENERAL  ------------------------------------------------------- */
html {
	height: 100%;
}

body {

}

header {
	text-align: center;
	margin: 10px 0px;
}

canvas {
	width: 100%;
	height: 100%;
}


main {
	background-color: #d3858e;
	text-align: center
}

.container {
	
}

img {
	position: absolute;
   
}

#slider{

}

.ui-slider .ui-state-active,
.ui-slider .ui-state-focus,
.ui-slider .ui-state-default {
	background: #ccc !important;
	border: 1px solid #bbb !important;
	outline: none !important;
}

.ui-slider .ui-slider-handle {
	border-radius: 1em;
	top: -.6em;
	width: 2em;
    height: 2em;
}

footer {
	text-align: center;
	margin: 10px 0px;
}

footer p {
	margin-bottom: 0px;
}


/* SLIDER 1 ------------------------------------------------------- */
#book {
	height: 90%;
}

#book #book1,
#book #book2,
#book #book3,
#book #book4 {
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	top: 0; 
	bottom: 0; 
	margin-top: auto; 
	margin-bottom: auto;
}

#book2, #book3, #book4 {
	opacity: 0.0
}


#p1b1 {
	bottom: 30%;
    left: 15%;
}
#p1b2 {
    top: 20%;
    left: 1%;
}
#p1b3 {
	right: 5%;
	top: 30%;
}
#p2b1 {
	bottom: 35%;
    left: 10%;
}
#p2b2 {
	top: 6	%;
    left: 35%;
}
#p2b3 {
	right: 10%;
	top: 25%;
}
#p3b1 {
	bottom: 30%;
    left: 2%;
}
#p3b2 {
	top: 8%;
    left: 25%;
}
#p3b3 {
	right: 3%;
	top: 40%;
}
#p4b1 {
	bottom: 30%;
    left: 2%;
}
#p4b2 {
	top: 10%;
    left: 30%;
}
#p4b3 {
	right: 5%;
	bottom: 18%;
}

#p1b1, #p1b2, #p1b3,
#p2b1, #p2b2, #p2b3,
#p3b1, #p3b2, #p3b3,
#p4b1, #p4b2, #p4b3 
{
	opacity: 0.0;
	position: absolute;

}
