.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    border: solid 1px #dee2e6;
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 5px 5px 0 rgba(200, 200, 200, 0.2);
    cursor: pointer;
}

.tz-gallery img {
    border-radius: 15px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}